.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-main {
    position: fixed;
    background-color: rgba(13, 12, 13, 0.768);
    color: rgb(247, 52, 94);
    text-transform: uppercase;
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.mailto input {
    position: relative;
    width: 250px;
    height: 44px;
    line-height: 44px;
}